.sidebar {
  box-shadow: 0 5px 5px #767575;

  .sidebar__options {
    background-color: #1c65af;
    display: flex;
    justify-content: space-between;
    padding: .2rem 2rem;

    .sidebar__options__item {
      font-family: 'Roboto', sans-serif;
      list-style-type: none;
      padding: 0.5rem 1rem;
      
      .sidebar__options__item__button {
        align-items: center;
        color: #fff;        
        display: flex;
        text-decoration: none;

        &:hover {
          background-color: inherit;
        }
      }

      .sidebar__options__item__icon {
        margin-right: 1.5rem;
      }
    }
  }
}

@media (max-width: 950px)
{
  .sidebar {
    .sidebar__options {
      flex-direction: column;
      align-items: center;

      .sidebar__options__item {
        .sidebar__options__item__icon {
          display: none;
        }
      }
    }
  }
}