.topbar {
  align-items: center;
  background-color: #1976d2;
  box-shadow: 0 5px 5px #767575;
  display: flex;
  padding: 1.2rem;
  
  .topbar__button {
    color: #fff;
  }

  .topbar__title {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: auto;
  }
}